*{
    margin: 0;
    padding: 0;
}

div{
    height: 100px;
    width: 100px;
    background-image: url(laptop_photo.jpg);
    background-size: cover;
    color: aquamarine;
    border-radius: 10px;
    margin: 10px 0px, 10px, 10px;
    position: fixed;
    right: 0px;
    top: 50px;
}
