*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

/* h1{
    text-align: center;
} */

#container{
    width: 800px;
    height: 200px;
    border-style: dashed;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div{
    width: 100px;
    height: 100px;
    display: inline-block;
}

#box1{   
    background-color: aquamarine;
}

#box2{
    background-color: aqua;
}


#box3{
    background-color: beige;
}

#box4{
    background-color: darkviolet;
}

#box5{
    background-color: tomato;
}